<!--在test.html文件夹下添加-->
{% extends "base.html" %}
{% block content %}
<html>
    <head>
        <title>Just test template</title>
        <style>
            body {
               background-color: grey;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
    </head>
    <body>
<form action="/get_log/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
        <strong>{{ current_time }}</strong>
    </body>
</html>
{% endblock %}